modules = ["php-8.2", "web", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["php82Extensions.pdo_pgsql", "sqlite"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37051
externalPort = 3003

[[ports]]
localPort = 39143
externalPort = 3000

[[ports]]
localPort = 39883
externalPort = 6800

[[ports]]
localPort = 40367
externalPort = 8008

[[ports]]
localPort = 43279
externalPort = 5173

[[ports]]
localPort = 43387
externalPort = 3002

[[ports]]
localPort = 44187
externalPort = 4200

[[ports]]
localPort = 44879
externalPort = 8000

[[ports]]
localPort = 45027
externalPort = 6000

[[ports]]
localPort = 46355
externalPort = 8080

[[ports]]
localPort = 46589
externalPort = 5000
